<div class="flex items-center py-4 border-b border-gray-300">
  <div class="ml-6">
    <h3 class="mb-0.5">
      <a
        href="{{ route('PollsController.show', [poll.slug]) }}"
        class="text-teal-800 text-xl"
        up-preload
        up-target="[layout-main]"
      >
        {{ poll.title }}
      </a>
    </h3>

    <p>
      {{ poll.expired ? 'Ended' : 'Ends' }} {{ poll.closesAt.toRelative({ style: 'short' }) }}
    </p>
  </div>
</div>