<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    {{-- Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
    <link rel="stylesheet" type="text/css" href="/vendor/toastr/toastr.min.css"/>
    <link rel="stylesheet" type="text/css" href="/app.css"/>

    <script src="/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="/vendor/toastr/toastr.min.js"></script>
</head>

<body class="bg-gray-50 font-sans text-base antialiased text-gray-500" layout-root>
    @include('partials/header')

    <div class="min-h-shell" layout-main>
        @include('partials/global-notification')
        @!section('body')
    </div>

    <footer>
        <div class="max-w-xl mx-auto border-t border-gray-300 text-sm">
            <div class="flex items-center justify-between h-24">
                <p>
                    <span>Powered by Tule</span>
                </p>
            </div>
        </div>
    </footer>

    {{-- A container for display modals --}}
    <div id="modals-container"></div>
</body>
</html>